* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;

    background-image: url("../../photos/mura.jpg");
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat; 

    color: #1f2937;
    transition: background 0.3s, color 0.3s;
}


body.dark {
    background-image: linear-gradient(
        rgba(196, 196, 196, 0.6),
        rgba(0,0,0,0.6)
    ),
    url("/1st/photos/mura.jpg");
    color: #e5e7eb;
}


.top-bar {
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    background: #0f172a;
    color: #fff;
    margin: 15px;
    border-radius: 15px;
}

.logo {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
}


.top-bar nav button {
    margin-left: 20px;
    background: transparent;
    border: none;
    color: #cbd5f5;
    font-size: 15px;
    cursor: pointer;
    padding: 6px 10px;
    border-radius: 6px;
    transition: 0.2s;
}

.top-bar nav button:hover {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.content {
    min-height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content h1 {
    font-size: 44px;
    font-weight: 600;
    letter-spacing: 0.5px;
    
}

.focus-btn {
    position: fixed;
    bottom: 28px;
    right: 28px;
    padding: 12px 18px;
    background: #0f172a;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s;
}

.focus-btn:hover {
    background: #1e293b;
}


body.dark {
    background: #020617;
    color: #e5e7eb;
}

body.dark .top-bar {
    background: white;
    color: #020617;
}

body.dark nav button {
    color: #9ca3af;
}

body.dark nav button:hover {
    background: rgba(255, 255, 255, 0.08);
    color: #fff;
}

body.dark .focus-btn {
    background: #1e293b;
}



.btn-container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.btn-container i {
  display: inline-block;
  position: relative;
  top: -9px;
}

label {
  font-size: 13px;
  color: #424242;
  font-weight: 500;
}

.btn-color-mode-switch {
  display: inline-block;
  margin: 0px;
  position: relative;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner {
  margin: 0px;
  width: 140px;
  height: 30px;
  background: #E0E0E0;
  border-radius: 26px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  display: block;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:before {
  content: attr(data-on);
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  top: 7px;
  right: 20px;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:after {
  content: attr(data-off);
  width: 70px;
  height: 16px;
  background: #fff;
  border-radius: 26px;
  position: absolute;
  left: 2px;
  top: 2px;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 6px -2px #111;
  padding: 5px 0px;
}

.btn-color-mode-switch > .alert {
  display: none;
  background: #FF9800;
  border: none;
  color: #fff;
}

.btn-color-mode-switch input[type="checkbox"] {
  cursor: pointer;
  width: 50px;
  height: 25px;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  margin: 0px;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner {
  background: #151515;
  color: #fff;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:after {
  content: attr(data-on);
  left: 68px;
  background: #3c3c3c;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:before {
  content: attr(data-off);
  right: auto;
  left: 20px;
}

.btn-color-mode-switch input[type="checkbox"]:checked ~ .alert {
  display: block;
}

.dark-preview {
  background: #0d0d0d;
}

.white-preview {
  background: #fff;
}

body {
    min-height: 100vh;
    background-image: url("../../photos/mura.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body.dark::before {
    background: rgba(0, 0, 0, 0.6);
}

